<div class="broadcast">
  <h2>กรุณาเลือกการทำงาน จากเมนูซ้ายบน</h2>
  <ul>
    <li><b>การลงทะเบียน</b> ประกอบไปด้วยเมนูสำหรับลงทะเบียนในภาคการเรียนการศึกษาปัจจุบัน</li>
    <ul>
    <li><b>ลงทะเบียน</b> สำหรับทำการลงทะเบียน</li>
    <li><b>เพิ่มวิชาเรียน</b></li>
      <li><b>เปลี่ยนตอนเรียน</b> สำหรับทำการลงทะเบียนเปลี่ยนวิชาตอนเรียน</li>
      <li><b>ถอนวิชาเรียน</b> สำหรับทำการลงทะเบียนไว้</li>
    </ul>
      <li><b>สอบถามข้อมูล</b></li>
      <ul>
        <li><b>ผลลงทะเบียน</b> สำหรับตรวจสอบผลการลงทะเบียนในภาคการศึกษาที่ผ่านมาและปัจจุบัน</li>
        <li><b>ผลการเรียน</b> สำหรับตรวจสอบผลการเรียนในภาคการศึกษาที่ผ่านมาและปัจจุบัน</li>
        <li><b>ตารางสอน</b> สำหรับตรวจสอบวันเวลาเรียน/สอบของวิชาที่ลงทะเบียนในภาคการศึกษาปัจจุบัน</li>
      </ul>
    </ul>
  </div>
