
<div class="not_register" *ngIf="!availableSubject" [ngStyle]="{color: 'black'}">
  <h1>ปีการศึกษา {{Watch_Year}}  เทอมที่ {{Watch_Semester}} </h1>
  <h2>ยังไม่ได้ลงทะเบียนเรียน</h2>
</div>
<div class="availableSubject" *ngIf="availableSubject">
  <h1>ปีการศึกษา {{Watch_Year}}  เทอมที่ {{Watch_Semester}} </h1>
  <table>
    <tr>
      <th></th>
      <th>รหัสวิชา</th>
      <th>ชื่อวิชา</th>
      <th>วันที่เรียน</th>
      <th>เวลาเรียน</th>
      <th>วันที่สอบ</th>
      <th>เวลาสอบ</th>
      <th>ตอนเรียน</th>
    </tr>
    <tr *ngFor="let list of availableSubject.Result">
      <td><input type="checkbox" [checked] = "list.Subject_Checked" [(ngModel)]="list.Subject_Checked"></td>
      <td>{{list.Subject_ID}}</td>
      <td>{{list.Subject_Name}}</td>
      <td>{{list.Subject_Date}}</td>
      <td>{{list.Subject_Time}}</td>
      <td>{{list.Subject_Exam_Date}}</td>
      <td>{{list.Subject_Exam_Time}}</td>
      <td class="selecttd">
        <!-- <select [(ngModel)]="list.Subject_Section" (ngModelChange)="onsectionChange($event,list.Subject_ID)">
        <option *ngFor="let sublist of list.Subject_SectionList" [value]="sublist">
          {{sublist}}
        </option>
      </select> -->
        <div class="select">
          <select [(ngModel)]="list.Subject_Section" (ngModelChange)="onsectionChange($event,list.Subject_ID)">
            <option *ngFor="let sublist of list.Subject_SectionList" [value]="sublist">
              {{sublist}}
            </option>
          </select>
        </div>

    </td>
    </tr>
  </table>
  <div class="add_subject">
    <button (click)="onSubmitAddRegistration()">เพิ่มวิชาเรียน</button>
  </div>
</div>
