<div [formGroup]="login_form">
  <input  formControlName="User_Name" name="OrderName" class="input">
  <input  formControlName="User_Password" name="OrderName" class="input">
  <button (click)="onSubmitLogin(login_form)">login</button>
</div>
<div *ngIf="user">
  <label>current USER : {{user.User_Name}} current ID : {{user.User_ID_2}}</label>
  <button (click)="onSubmitGetAvailableSubject()">OPENSUBJECt</button>
</div>
<div *ngIf="register">
  <div *ngFor="let list of register.Result">
    <input type="checkbox" [checked] = "list.Subject_Checked" [(ngModel)]="list.Subject_Checked"> {{list.Subject_ID+" "+list.Subject_Name+" Section "+list.Subject_Section}}
    <select [(ngModel)]="list.Subject_Section" (change)="onchangeSection()">
      <option *ngFor="let sublist of list.Subject_SectionList" [value]="sublist">
        {{sublist}}
       </option>
    </select>
  </div>
  <div>
    <button (click)="onSubmitRegistrationArray()">Register</button>
  </div>
</div>
<div *ngIf="register">
  <div *ngFor="let list of register.Result">
    <input type="checkbox" [checked] = "list.Subject_Checked" [(ngModel)]="list.Subject_Checked"> {{list.Subject_ID+" "+list.Subject_Name+" Section "+list.Subject_Section}}
    <select [(ngModel)]="list.Subject_Section" (change)="onchangeSection()">
      <option *ngFor="let sublist of list.Subject_SectionList" [value]="sublist">
        {{sublist}}
       </option>
    </select>
  </div>
  <div>
    <button (click)="onSubmitAddRegistration()">Add Subject</button>
  </div>
</div>
<div [formGroup]="regis_Registration_form" style="display: block; position: relative;">
  <div>
    <label>Subject ID : </label>
    <input formControlName="Subject_ID">
  </div>
  <div>
    <label>Student ID : </label>
    <input formControlName="Student_ID_Student">
  </div>
  <div>
    <label>Registration_Section : </label>
    <input formControlName="Registration_Section">
  </div>
  <button (click)="onSubmitRegistration(regis_Registration_form)">Register</button>
</div>
<div [formGroup]="regis_Student_form" style="display: block; position: relative;">
  <div>
    <label>ID : </label>
    <input formControlName="Student_ID">
  </div>
  <div>
    <label>Stduent ID : </label>
    <input formControlName="Student_ID_Student">
  </div>
  <div>
    <label>Name : </label>
    <input formControlName="Student_Name">
  </div>
  <div>
    <label>Sur Name : </label>
    <input formControlName="Student_Sur_Name">
  </div>
  <div>
    <label>Phone : </label>
    <input formControlName="Student_Phone">
  </div>
  <div>
    <label>Section : </label>
    <input formControlName="Student_Section">
  </div>
  <div>
    <label>DOB : </label>
    <input formControlName="Student_DOB">
  </div>
  <button (click)="onSubmitAddStudent(regis_Student_form)">Register</button>
</div>

<div [formGroup]="regis_Teacher_form" style="display: block; position: relative;">
  <div>
    <label>ID : </label>
    <input formControlName="Teacher_ID">
  </div>
  <div>
    <label>Teacher ID : </label>
    <input formControlName="Teacher_ID_Teacher">
  </div>
  <div>
    <label>Name : </label>
    <input formControlName="Teacher_Name">
  </div>
  <div>
    <label>Sur Name : </label>
    <input formControlName="Teacher_Sur_Name">
  </div>
  <div>
    <label>DOB : </label>
    <input formControlName="Teacher_DOB">
  </div>
  <button (click)="onSubmitAddTeacher(regis_Teacher_form)">Register</button>
</div>

<div [formGroup]="regis_Subject_form" style="display: block; position: relative;">
  <div>
    <label>ID : </label>
    <input formControlName="Subject_ID">
  </div>
  <div>
    <label>Subject Name : </label>
    <input formControlName="Subject_Name">
  </div>
  <div>
    <label>Subject Des : </label>
    <input formControlName="Subject_Des">
  </div>
  <div>
    <label>Subject Student Year : </label>
    <input formControlName="Subject_Student_Year">
  </div>
  <div>
    <label>Requirement Subject : </label>
    <input formControlName="Requirement_Subject">
  </div>
  <button (click)="onSubmitAddSubject(regis_Subject_form)">Register</button>
</div>

<div [formGroup]="regis_Teach_form" style="display: block; position: relative;">
  <div>
    <label>Subject ID : </label>
    <input formControlName="Subject_ID">
  </div>
  <div>
    <label>Teach ID : </label>
    <input formControlName="Teach_ID">
  </div>
  <div>
    <label>Teach_Section : </label>
    <input formControlName="Teach_Section">
  </div>
  <div>
    <label>Teach_Section_Num : </label>
    <input formControlName="Teach_Section_Num">
  </div>
  <div>
    <label>Teach_Date : </label>
    <input formControlName="Teach_Date">
  </div>
  <div>
    <label>Teach_Time : </label>
    <input formControlName="Teach_Time">
  </div>
  <div>
    <label>Exam_Date : </label>
    <input formControlName="Exam_Date">
  </div>
  <div>
    <label>Exam_Time : </label>
    <input formControlName="Exam_Time">
  </div>
  <div>
    <label>Teach_Max_Student : </label>
    <input formControlName="Teach_Max_Student">
  </div>
  <button (click)="onSubmitAddOpenSubject(regis_Teach_form)">Register</button>
</div>
