<div>
  <div class="setrow">
    <label>ปีการศึกษา</label>
    <div class="select">
      <select [(ngModel)]="Watch_Year">
        <option *ngFor="let sublist of Watch_Year_list" [value]="sublist">
          {{sublist}}
        </option>
      </select>
    </div>
    <label>เทอม</label>
    <div class="select">
      <select [(ngModel)]="Watch_Semester">
        <option *ngFor="let sublist of Watch_Semester_list" [value]="sublist">
          {{sublist}}
        </option>
      </select>
    </div>
    <button (click)="onSubmitYear()">ตรวจสอบข้อมูล</button>
  </div>

</div>
<div class ="not_found"*ngIf="result.length===0">
  <label>ไม่มีข้อมูล</label>
</div>
<div *ngIf="result.length!==0">
<table>
  <tr>
    <th>รหัสวิชา</th>
    <th>ชื่อวิชา</th>
    <th>ตอนเรียน</th>
    <th>Subject Date</th>
    <th>เวลาเรียน</th>
    <th>วันสอบ</th>
    <th>เวลาสอบ</th>
  </tr>
  <tr *ngFor="let item of result">
    <td>{{item.Subject_ID}}</td>
    <td>{{item.Subject_Name}}</td>
    <td>{{item.Subject_Section_Num}}</td>
    <td>{{item.Teach_Date}}</td>
    <td>{{item.Teach_Time}}</td>
    <td>{{item.Exam_Date}}</td>
    <td>{{item.Exam_Time}}</td>
  </tr>
</table>
</div>
