<div>
  <div class="setrow">
    <label>YEAR</label>
    <div class="select">
      <select [(ngModel)]="Watch_Year">
        <option *ngFor="let sublist of Watch_Year_list" [value]="sublist">
          {{sublist}}
        </option>
      </select>
    </div>
    <label>Semester</label>
    <div class="select">
      <select [(ngModel)]="Watch_Semester">
        <option *ngFor="let sublist of Watch_Semester_list" [value]="sublist">
          {{sublist}}
        </option>
      </select>
    </div>
    <button (click)="onSubmitYear()">Watch schedule</button>
  </div>
</div>
<div *ngIf="result.length===0">
  <label>ไม่มีข้อมูล</label>
</div>
<div *ngIf="result.length!==0">
<table>
  <tr>
    <th>Subject ID</th>
    <th>Subject Name</th>
    <th>Subject Section</th>
    <th>Subject Status</th>
  </tr>
  <tr *ngFor="let item of result">
    <td>{{item.Subject_ID}}</td>
    <td>{{item.Subject_Name}}</td>
    <td>{{item.Subject_Section_Num}}</td>
    <td>{{item.Registration_Paid}}</td>
  </tr>
</table>
</div>
