<!-- <p>teach-add-grade works!</p> -->
<div class="setrow">
  <label>ปีการศึกษา</label>
  <div class="select">
  <select [(ngModel)]="Watch_Year">
    <option *ngFor="let sublist of Watch_Year_list" [value]="sublist">
      {{sublist}}
    </option>
  </select>
</div>
  <label>เทอม</label>
  <div class="select">
  <select [(ngModel)]="Watch_Semester">
    <option *ngFor="let sublist of Watch_Semester_list" [value]="sublist">
      {{sublist}}
    </option>
  </select>
</div>
<button (click)="onSubmitYear()">ตรวจสอบข้อมูล</button>
</div>
<!-- <div *ngIf="this.result.length!==0">
  <div *ngFor="let item of result">
    <label>{{item.Subject_ID+" "+item.Subject_Name+" "+item.Teach_Section_Num}}</label>
    <div *ngFor="let student of item.Student_Data">
        <label>{{student.Student_Name}}</label>
        <select [(ngModel)]="student.Registration_GPA">
          <option *ngFor="let sublist of Grade_list" [value]="sublist">
            {{sublist}}
          </option>
        </select>
    </div>
  </div>
  <div>
    <button (click)="onSubmitUpdateData()">UpDate Data</button>
  </div>
</div> -->
<div class="not_found" *ngIf="result.length===0">
  <label>ไม่มีข้อมูล</label>
</div>
<div *ngIf="result.length!==0">
<table>
  <tr>
    <th>รหัสวิชา</th>
    <th>ชื่อวิชา</th>
    <th>วันที่สอน</th>
    <th>เวลาที่สอน</th>
    <th>ประเมิน</th>
  </tr>
  <tr *ngFor="let item of result">
    <td>{{item.Subject_ID}}</td>
    <td>{{item.Subject_Name}}</td>
    <td>{{item.Teach_Date}}</td>
    <td>{{item.Teach_Time}}</td>
    <table>
      <tr>
        <th>รหัสนักศึกษา</th>
        <th>ชื่อ</th>
        <th>เกรด</th>
      </tr>
      <tr *ngFor="let Subitem of item.Student_Data">
        <td>{{Subitem.Student_ID_Student}}</td>
        <td>{{Subitem.Student_Name}}</td>
        <td>
          <select [(ngModel)]="Subitem.Registration_GPA">
            <option *ngFor="let sublist of Grade_list" [value]="sublist">
              {{sublist}}
            </option>
          </select>
        </td>
      </tr>
    </table>
  </tr>
</table>
<div class="update">
  <button (click)="onSubmitUpdateData()">UpDate Data</button>
</div>
</div>
