<div>
    <nav>
        <li><a routerLink="Register">ลงทะเบียนเรียน</a></li>
        <li><a routerLink="addCourse">เพิ่มวิชาเรียน</a></li>
        <li><a routerLink="changeSection">เปลี่ยนตอนเรียน</a></li>
        <li><a routerLink="dropCourse">ถอนวิชาเรียน</a></li>
        <li><a routerLink="checkRegister">ผลลงทะเบียน</a></li>
        <li><a routerLink="grade">ผลการเรียน</a></li>
        <li><a routerLink="schedule">ตารางสอน/สอบ</a></li>
      </nav>
      <p>{{Username}}</p>
     <router-outlet></router-outlet>
</div>

  
