<body>
<div class="banner">
<h1 style="font-size: 40px ; margin: 20px;">ลงทะเบียน KMUTNB</h1>
</div>
  <div class ="nav-std"*ngIf="Type === 'Student'">
    <nav class="sidebar">
      <p style="color: black ;">คุณ {{Username}}</p>
      <li><a routerLink="Register">ลงทะเบียนเรียน</a></li>
        <li><a routerLink="addCourse">เพิ่มวิชาเรียน</a></li>
        <!-- <li><a routerLink="changeSection">เปลี่ยนตอนเรียน</a></li> -->
        <li><a routerLink="dropCourse">ถอนวิชาเรียน</a></li>
        <li><a routerLink="checkRegister">ผลลงทะเบียน</a></li>
        <li><a routerLink="grade">ผลการเรียน</a></li>
        <li><a routerLink="schedule">ตารางสอน/สอบ</a></li>
      <button class = "Logout"(click)="onLogout()">Logout</button>
      </nav>
      <div class="broadcast" *ngIf="router.url === '/Home'">
        <h2 style="font-size: 30px;">กรุณาเลือกการทำงาน จากเมนูซ้ายบน</h2>
        <ul>
          <li><b>การลงทะเบียน</b> ประกอบไปด้วยเมนูสำหรับลงทะเบียนในภาคการเรียนการศึกษาปัจจุบัน</li>
          <ul>
          <li><b>ลงทะเบียน</b> สำหรับทำการลงทะเบียน</li>
          <li><b>เพิ่มวิชาเรียน</b></li>
            <li><b>เปลี่ยนตอนเรียน</b> สำหรับทำการลงทะเบียนเปลี่ยนวิชาตอนเรียน</li>
            <li><b>ถอนวิชาเรียน</b> สำหรับทำการลงทะเบียนไว้</li>
          </ul>
            <li><b>สอบถามข้อมูล</b></li>
            <ul>
              <li><b>ผลลงทะเบียน</b> สำหรับตรวจสอบผลการลงทะเบียนในภาคการศึกษาที่ผ่านมาและปัจจุบัน</li>
              <li><b>ผลการเรียน</b> สำหรับตรวจสอบผลการเรียนในภาคการศึกษาที่ผ่านมาและปัจจุบัน</li>
              <li><b>ตารางสอน</b> สำหรับตรวจสอบวันเวลาเรียน/สอบของวิชาที่ลงทะเบียนในภาคการศึกษาปัจจุบัน</li>
            </ul>
          </ul>
        </div>
</div>
<div class="nav-std" *ngIf="Type === 'Teacher'">
  <nav class ="sidebar_TC">
    <p style="color: black ;" >คุณ {{Username}}</p>
    <li><a routerLink="AddTeachSubject">เปิดวิชาเรียน</a></li>
    <li><a routerLink="WatchTeachSubjectData">ดูข้อมูลวิชาที่สอน</a></li>
    <li><a routerLink="AddGradeSubject">ให้ผลการเรียน</a></li>
    <li><a routerLink="WatchSchedule">ตารางสอน</a></li>
    <button class="Logout" (click)="onLogout()">Logout</button>
  </nav>
  <div class="broadcast" *ngIf="router.url === '/Home'">
    <h2>กรุณาเลือกการทำงาน จากเมนูซ้ายบน</h2>
    <ul>
      <li><b>เปิดวิชาเรียน</b> ประกอบไปด้วยเมนูสำหรับเปิดวิชาเรียนในภาคการเรียนการศึกษาปัจจุบัน</li>
      <ul>
      <li><b>เปิดวิชาเรียน</b> ดูข้อมูลวิชาที่สอน</li>
      <li><b>ดูข้อมูลวิชาที่สอน</b> สำหรับดูข้อมูลวิชาที่สอน</li>
        <li><b>ให้ผลการเรียน</b> สำหรับให้ผลการเรียนของนักเรียน</li>
        <li><b>ตารางสอน</b> สำหรับดูตารางสอนของอาจารย์</li>
      </ul>
      </ul>
    </div>
</div>
<div class="broadcast" *ngIf="router.url !== '/Home'">
  <router-outlet></router-outlet>
</div>
</body>
