<body>
<div class="register_suc" *ngIf="!availableSubject" [ngStyle]="{color: 'black'}">
  <h2>ลงทะเบียนเรียนไปเเล้ว</h2>
</div>
<div class="xd" *ngIf="availableSubject">
  <div class="pre_register">
    <div *ngFor="let list of availableSubject.Result" [ngStyle]="{color:'black',background:'white'}">
      <input type="checkbox" [checked] = "list.Subject_Checked" [(ngModel)]="list.Subject_Checked">
      {{list.Subject_ID+" "+list.Subject_Name+" Section "+list.Subject_Section +" Date "+list.Subject_Date+" Time "+list.Subject_Time}}
      <select [(ngModel)]="list.Subject_Section" (ngModelChange)="onsectionChange($event,list.Subject_ID)">
        <option *ngFor="let sublist of list.Subject_SectionList" [value]="sublist">
          {{sublist}}
        </option>
      </select>
    </div>
    <div class="not_register">
      <h2>ยังไม่ได้ลงทะเบียนเรียน</h2>
      <div class="register_btn">
      <button (click)="onSubmitRegistrationArray()">ลงทะเบียน</button>
    </div>
    </div>
  </div>
</div>
</body>
